<section class="booking">
  <ul class="booking-list">
    <li class="booking-item"><a href="" class="booking-link">Stand</a></li>
    <li class="booking-item"><a href="" class="booking-link">Describe</a></li>
    <li class="booking-item">
      <a href="" class="booking-link">Participants</a>
    </li>
    <li class="booking-item"><a href="" class="booking-link">Services</a></li>
  </ul>
  <div class="container">
    <div class="booking-modal">
      <div class="booking-warning">
        <img src="./img/icon-booking.png" alt="" class="booking-img" />
        <p class="booking-text-warning">
          Some changes may require additional payment.
        </p>
        <img src="../img/close.svg" alt="close" class="booking-close" />
      </div>
      <p class="booking-text">
        Please enter your organization’s name and pick your stand location.
      </p>
      <label class="booking-label">Organization name</label
      ><input
        placeholder="Organization "
        type="text"
        class="booking-inpat"
      /><label class="booking-label">Stand placement</label
      ><input
        type="text"
        placeholder="Blue zone, 3 B/4B"
        class="booking-inpat"
      />
    </div>
  </div>
</section>
