<footer class="footer">
  <div class="container">
    <ul class="footer-list">
      <li class="footer-item">
        <a href="./map-page.html" class="footer-link">
          <img src="./img/map.png" alt="map" />
          <p class="footer-text">Map</p>
        </a>
      </li>
      <li class="footer-item">
        <a href="./notifications.html" class="footer-link">
          <img src="./img/notific.png" alt="notific" />
          <p class="footer-text">Notification</p>
        </a>
      </li>
      <li class="footer-item">
        <a href="" class="footer-link">
          <img src="./img/profile.png" alt="profile" />
          <p class="footer-text">Profile</p>
        </a>
      </li>
    </ul>
  </div>
</footer>
