<section class="notifications-section">
  <div class="container">
    <h1 class="notifications-title">Campus notifications</h1>
    <ul class="notifications-list">
      <li class="notifications-item">
        <div class="notifications-wrap">
          <a href="" class="notifications-logo">A</a>
          <h2 class="notifications-subtitle">Today at CAMPUS+</h2>
          <img src="./img/dots.svg" alt="dots" class="notifications-img" />
        </div>
        <img src="./img/Media.png" alt="media" class="notifications-img" />
        <div class="notifications-text-wrap">
          <h3 class="notifications-text">
            Friday, August 30th - Today's <br />
            Schedule
          </h3>
          <ul class="notifications-items">
            <li>
              <p class="notifications-desk">
                7:00 - The zone opens, and you can set up your stand.
              </p>
            </li>
            <li>
              <p class="notifications-desk">
                8:30 - Briefing from your zone manager.
              </p>
            </li>
            <li>
              <p class="notifications-desk">
                9:20 - Students arrive in the zones and visit your stands.
              </p>
            </li>
            <li>
              <p class="notifications-desk">
                12:00 - Students go to lunch, and you pack up.
              </p>
            </li>
          </ul>
          <p class="notifications-time">Today • 23 min</p>
        </div>
      </li>
      <li class="notifications-item">
        <div class="notifications-wrap">
          <a href="" class="notifications-logo">A</a>
          <h2 class="notifications-subtitle">
            Here’s what’s happening right now!
          </h2>
          <img src="./img/dots.svg" alt="dots" class="notifications-img" />
        </div>
        <img src="./img/Media-2.png" alt="media" class="notifications-images" />
        <h3 class="notifications-text"></h3>
        <div class="notifications-text-wrap">
          <h3 class="notifications-text">
            Friday, August 30th - Today's <br />
            Schedule
          </h3>
          <ul class="notifications-items">
            <li>
              <p class="notifications-desk">
                7:00 - The zone opens, and you can set up your stand.
              </p>
            </li>
            <li>
              <p class="notifications-desk">
                8:30 - Briefing from your zone manager.
              </p>
            </li>
            <li>
              <p class="notifications-desk">
                9:20 - Students arrive in the zones and visit your stands.
              </p>
            </li>
            <li>
              <p class="notifications-desk">
                12:00 - Students go to lunch, and you pack up.
              </p>
            </li>
          </ul>
          <p class="notifications-time">Tomorrow • 23 min</p>
        </div>
      </li>
    </ul>
  </div>
</section>
