<section class="registration-page">
  <div class="registration">
    <img src="./img/logo.png" alt="logo" class="registration-img" width="256" />
  </div>
  <div class="container registration-window">
    <p class="registration-title">Sign up</p>
    <form id="registration-form">
      <div class="registration-field">
        <label for="" class="registration-label"></label>
        <input type="text" id="email" placeholder="Email" class="registration-input" />
        <span class="error-message" id="email-error"></span>
      </div>
      <div class="registration-field">
        <label for="" class="registration-label"></label>
        <input placeholder="Password" id="password" type="text" class="registration-input" />
        <span class="error-message" id="password-error"></span>
        <img
          class="registration-glass"
          src="./img/glass.png"
          alt=""
          width="24"
          height="24"
        />
      </div>
      
      <a class="registration-pass" href="">Forgot password?</a>
      <a href="./map-page.html" class="registration-continue">Continue</a>
      <a href="./map.html" class="registration-log"
        >Already have an account? Log in</a
      >
      <p class="text-line">OR</p>
      <ul class="registration-list">
        <li>
          <button type="button" class="registration-btn">
            <img src="./img/google.png" alt="google" width="18" height="18" />
            Continue with Google
          </button>
        </li>
        <li>
          <button type="button" class="registration-btn">
            <img src="./img/apple.png" alt="apple" width="18" height="18" />
            Continue with Apple
          </button>
        </li>
      </ul>
    </form>
  </div>
</section>
