<section class="ticket">
  <div class="container">
    <h1 class="ticket-title">My tickets</h1>
    <h2 class="ticket-subtitle">My balance</h2>
    <ul class="ticket-list">
      <li class="ticket-item">
        <button class="ticket-btn">
          <img class="ticket-img" src="./img/cup.svg" alt="cup" /> Coffee
          <span class="ticket-btn-text">10</span>
        </button>
      </li>
      <li class="ticket-item">
        <button type="button" class="ticket-btn">
          <img class="ticket-img" src="./img/lunch.svg" alt="lunch" />My lunch
          <span class="ticket-btn-text">2</span>
        </button>
      </li>
    </ul>
  </div>
</section>
