
.container {
  max-width: 412px;
  margin: 0 auto;
  padding: 0 16px;
}
.link-back{
  font-family: "Metral", sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.27273;
    color: #1d1b20;
    padding-top: 64px;
    display: flex;
}

