.footer {
  padding-top: 12px;
  padding-bottom: 16px;
}

.container {
}

.footer-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer-item {
}

.footer-link {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.footer-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #49454f;
}
