.header {
  padding-top: 22px;
  padding-bottom: 10px;
  position: absolute;
 

}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-time {
  font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42857;
    letter-spacing: 0.01em;
    color: #1d1b20;
}

.header-list {
  display: flex;
  gap: 1px;
  align-items: center;
    margin-left: 289px;
}